<% include header %>
<div class="container bredcrumb-area mb-30">
    <ul class="list-inline bredcrumb text-right content-area">
            <li><a href="/">Home</a> / </li>
            <li><a href="/MyFavorites">Favorites</a></li>
    </ul>
</div>
<section class="filter-content content-area">
    <div class="container">
        <div class="featured-properties">
            <div class="row">

                    <div class="filtr-container">
                        <% if(typeof propertyResult != 'undefined' && propertyResult.length){ %>
                            <% for(var i=0; i < propertyResult.length; i++){     
                                var TotalPrice = [];
                                var Extent = [];
                                var NumberofBeds = [];
                                var NumberofBath = [];
                                var UnitData = [];
                                var SuperBuiltUpArea =[];
                                var unitDetailsData = UnitTableData[propertyResult[i].ID];
                                if( typeof UnitTableData != 'undefined' && typeof UnitTableData == 'object' && UnitTableData.length){
                                    for(var u = 0; u < UnitTableData.length; u++){
                                        if(propertyResult[i].ID == UnitTableData[u].PropertyID ){
                                            UnitData.push(UnitTableData[u]);
                                            if(UnitTableData[u].NumberofBeds){
                                                NumberofBeds.push(UnitTableData[u].NumberofBeds); 
                                            }
                                            if(UnitTableData[u].NumberofBath){
                                                NumberofBath.push(UnitTableData[u].NumberofBath); 
                                            }
                                            if(UnitTableData[u].UnitExtent){
                                                TotalPrice.push(parseInt(UnitTableData[u].UnitExtent) * parseInt(propertyResult[i].SearchPrice));
                                                Extent.push(parseInt(UnitTableData[u].UnitExtent));
                                            }else
                                            if(UnitTableData[u].SuperBuiltUpArea){
                                                TotalPrice.push(parseInt(UnitTableData[u].SuperBuiltUpArea) * parseInt(propertyResult[i].SearchPrice));  
                                                Extent.push(parseInt(UnitTableData[u].SuperBuiltUpArea));
                                            }
                                            else if(propertyResult[i].Extent || propertyResult[i].TotalPrice){
                                                if(propertyResult[i].Extent){
                                                    TotalPrice.push(parseFloat(propertyResult[i].Extent) * parseInt(propertyResult[i].SearchPrice)); 
                                                }
                                                if(propertyResult[i].TotalPrice){
                                                    TotalPrice.push(parseFloat(propertyResult[i].TotalPrice));  
                                                }
                                                if(propertyResult[i].Extent){
                                                Extent.push(parseFloat(propertyResult[i].Extent));  
                                                }
                                            }
                                        }else{
                                            TotalPrice.push((propertyResult[i].SearchPrice));
                                        }
                                    }
                                }
                                propertyResult[i].unitDetails= UnitData;
                                %>
                       
                         
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  filtr-item b-list-opt" data-category="1">
                                 
                                <div class="property" >
                     
                                    <!-- Property content -->  
                               <!--      <% var unitDetailsData = UnitData.find(x => x.PropertyID ==  propertyResult[i].ID); %> -->

                            
                                    <div class="property-content" id="favorite_<%= i %>">
                                        <!-- title -->
                                        <div class="col-md-7 col-sm-6 col-xs-12 cont-item cont-item1">
                                            <h3 class="title">
                                                <a href="<%= propertyResult[i].URL%>" target="_target"><%= propertyResult[i].Title%></a>
                                            </h3>
                                            <!-- Property address -->
                                            <h4 class="property-address">
                                                <a href="#">
                                                    <i class="lnr lnr-map-marker"></i><%= propertyResult[i].Area %> <%if(propertyResult[i].Area){%> ,<% } %> <%= propertyResult[i].Name %>      
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="col-md-7 col-sm-6 col-xs-12 cont-item cont-item2">
                                           <!--  <h5><span class="lnr lnr-checkmark-circle"></span>ready to move in</h5>  -->   
                                           <ul class="facilities-list clearfix">
                                            <li>
                                           
                                            <% if(Extent && Extent.length > 0){ %>
                                            <img src="/img/extent.jpg" width="14" ,height="16" style="margin-top:-4px" title="Extent">
                                            <span>    
                                            <% if(Math.min(...Extent) == Math.max(...Extent)){ %>
                                            <%= Math.min(...Extent) %> <%= propertyResult[i].UnitIdentifier %>
                                            <% }else{ %>        
                                            <%= Math.min(...Extent) %> - <%= Math.max(...Extent) %> <%= propertyResult[i].UnitIdentifier %>  
                                            <% } %>
                                            </span>
                                            <% } %>
      
                                        <% var facing = ''; if(propertyResult[i].East ||propertyResult[i].West || propertyResult[i].North || propertyResult[i].South) {  %>
                                        <img src="/img/facing.jpg" width="14" ,height="16" style="margin-top:-4px" title="Facing">
                                            
                                            <% if(propertyResult[i].East){
                                                facing += 'E'
                                                } 
                                                if(propertyResult[i].West){ 
                                                if(facing){
                                                    facing += ' | '
                                                } 
                                                facing += 'W'
                                                } if(propertyResult[i].North){
                                                if(facing){
                                                    facing += ' | '
                                                }
                                                facing += 'N';
                                                
                                                } if(propertyResult[i].South){
                                                if(facing){
                                                    facing += ' | '
                                                }
                                                facing += 'S';
                                                } %> 
                                                <span><%= facing %></span>
                                               
                                        <% } %>
                              
                                            </li>
                                            
                                            <% if(NumberofBeds.length > 0 ){ %>
                                            <li>
                                                <i class="fa fa-bed" title="Number of beds"></i>
                                                <% if(Math.min(...NumberofBeds) == Math.max(...NumberofBeds)){ %>
                                                <span><%= Math.min(...NumberofBeds) %> </span>
                                                <% }else{ %>
                                                    <span><%= Math.min(...NumberofBeds) %>-<%= Math.max(...NumberofBeds) %> </span>
                                                <% } %>
                                            </li>
                                            <% }if(NumberofBath.length > 0){ %>
                                            <li>
                                                <i class="flaticon-holidays" title="Number of baths"></i>
                                                <% if(Math.min(...NumberofBath) == Math.max(...NumberofBath)){ %>
                                                <span><%= Math.min(...NumberofBath) %> </span>
                                                <% }else{ %>
                                                    <span><%= Math.min(...NumberofBath) %>-<%= Math.max(...NumberofBath) %> </span>
                                                <% } %>
                                            </li>
                                            <% } %>
                                            </ul>
                                        </div> 
                                    
                                        <div class="col-md-5 col-sm-6 col-xs-12 cont-item cont-item3">
                                            <% if(propertyResult[i].DisplayPrice){ %>
                                            <div class="property-price">
                                                <% if(Math.min(...TotalPrice) == Math.max(...TotalPrice)){ 
                                                    propertyResult[i].viewPrice = currencyFormat(Math.max(...TotalPrice));
                                                    %>
                                                <div>&#8377; <%= currencyFormat(Math.min(...TotalPrice)) %>
                                                <h5 class="property-price" ><%= currencyFormat(propertyResult[i].SearchPrice) %>/<%= propertyResult[i].UnitIdentifier %></h5></div>
                                                <% }else{ 
                                                    propertyResult[i].viewPrice = currencyFormat(Math.min(...TotalPrice)) + ' - ' +currencyFormat(Math.max(...TotalPrice));
                                                %>
                                                    <div>&#8377; <%= currencyFormat(Math.min(...TotalPrice)) %> - <%= currencyFormat(Math.max(...TotalPrice)) %> <h5 class="property-price"><%= propertyResult[i].SearchPrice %>/<%= propertyResult[i].UnitIdentifier %></h5></div>    
                                                <% } %>
                                                
                                            </div>
                                            <% } else { %>
                                                <div class="property-price">
                                                    Price On Request
                                                </div>
                                            <% } %>
                                        </div>
                                        <div class="col-sm-5 col-xs-12 cont-item cont-item4">
                                            <a href="#" class="button transparent combobtn" onclick='iAm_Interested(<%= JSON.stringify(propertyResult[i]) %>)'> I am Interested </a>
        
                                            <a href="javascript:void(0);" class="button transparent combobtn" onclick="RemoveFavourite(<%= propertyResult[i].ID %>,<%= sess_val %>,<%= i %>,'');">Remove</a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <% } } else { %> 

                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  filtr-item b-list-opt" data-category="1">
                                    <div class="property">
                                            <div class="property-content col-md-7 col-sm-6 col-xs-12 cont-item cont-item1">
                                                <h3>No Favorites Added Yet!</h3>
                                            </div>
                                    </div>
                            </div>
                            <% } %>
                    </div>
            </div>
        </div>
    </div>
        <!-- Featured properties end -->
    </section>

<% include script %>
<% include footer %>


 