
<!-- Footer start -->
<footer class="main-footer clearfix">
    <div class="container">
        <!-- Footer info-->
        <div class="footer-info">
            <div class="row footertop">
                <!-- Footer top -->
                <h5 class="col-lg-12">additional links</h5>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <p><a href="https://avenue.in/plots">Plots for Sale</a></p>
                    <p><a href="https://avenue.in/plots-for-sale-in-amaravati">Plots in Amaravati</a></p>
                    <p><a href="https://avenue.in/CRDA-plots-for-sale-in-amaravati">CRDA Plots for Sale</a></p>
                    <p><a href="https://avenue.in/gated-communities-for-sale-in-vijayawada">Gated Communities in Vijayawada</a></p>
                    <p><a href="https://avenue.in/land-pooling-plots-for-sale-in-amaravati">Land Pooling Plots</a></p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"> 
                    <p><a href="https://avenue.in/houses-for-sale-in-amaravati">Houses in Amaravati</a></p>
                    <p><a href="https://avenue.in/amaravati-real-estate">Amaravati Real Estate</a></p>
                    <p><a href="https://avenue.in/apartments-for-sale-in-amaravati">Apartments in Amaravati</a></p>
                    <p><a href="https://avenue.in/Vijayawada-real-estate"> Vijayawada Real Estate</a></p>
                    <p><a href="https://avenue.in/villas-for-sale-in-Vijayawada">Villas in Vijayawada</a></p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <p><a href="https://avenue.in/houses-for-sale-in-Vijayawada">Individual houses in Vijayawada</a></p>
                    <p><a href="https://avenue.in/villas-for-sale-in-amaravati">Villas in Amaravati</a></p>
                    <p><a href="https://avenue.in/gated-apartments-for-sale-in-amaravati">Gated Apartments in Amaravati</a></p>
                    <p><a href="https://avenue.in/apartments-for-sale-in-Vijayawada">Apartments in Vijayawada</a></p>
                    <p><a href="https://avenue.in/gated-apartments-for-sale-in-Vijayawada">Gated Apartments in Vijayawada</a></p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <p><a href="https://avenue.in/gated-Communities-for-sale-in-amaravati">Gated Communities in Amaravati</a></p>
                    <p><a href="https://avenue.in/plots-for-sale-in-vijayawada">Plots in Vijayawada</a></p>
                    <p><a href="https://avenue.in/CRDA-plots-for-sale-in-Vijayawada">CRDA Plots in Vijayawada</a></p>
                </div>
            </div>
            <div class="row footerbottom">
                <!-- Footer top -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <h5>ABOUT</h5>
                    <p>We offer professional advisory services for Real Estate investors in Amaravati, Vijayawada & Guntur. "Transparency, Reliability & Professionalism" are our promise to you. We will be your partner through out the investment process. We guide home / land buyers right from the start of their search to the very end. Shortlist your favorite properties and allow us to arrange site visits. Our work does not end here. We assist you with property loans and property registrations.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <h5>contact us</h5>   
                    <ul class="personal-info">
                        <li>
                            <i class="lnr lnr-map-marker"></i>
                            <h4>ITI College Road, Prasanthi Nagar, Vijayawada</h4>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <h4>Email: <a href="mailto:support@avenue.in">support@avenue.in</a></h4>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <h4>Phone: <a href="tel:+91-9533-894-894">+91.9533.894.894</a></h4>
                        </li>
                        <!--
                        <li>
                            <i class="fa fa-fax"></i>
                            Fax: +55 4XX-634-7071
                        </li>
                        -->
                        </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h5>GET IN TOUCH</h5>
                    <ul class="social-list list-inline clearfix mb-30">
                            <li>
                                <a href="https://www.facebook.com/Avenue.in"  target="_blank" class="facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/supportavenue" target="_blank" class="twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/+avenuein" target="_blank" class="linkedin">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                        </li>
                    </ul>
    
                <form id="SubscribeUserForm" method="POST" action="#" onsubmit="event.preventDefault();">
                    <div class="form-group">
                        <input class=" form-control email" id="nsu-email-0" type="email" name="email"
                        <% if(sess_val) { %>
                        value="<%= subscribe_email %>"
                        <% } %>   
                        placeholder="Enter your email to subscribe" required>
                        <a class="fa fa-check"  id="enter" onclick="subscribeUser('SubscribeUserForm');" ></a>
                    </div>
                    <div class="form-group">
                        <div class="mb-30" id= "subscribemsg"></div>
                    </div>
                </form>
             </div>
                <div class="col-xs-12 text-center copyp">
                        <p>&copy; <%= new Date().getFullYear();%> <a href="#">Avenir Realty LLP</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->

<div id="loginPopup" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body" id="login">
                
              <div class="white-bg">
                  <article>
                       <%- locals.flash %>
                      <h4 class="modal-title">WELCOME !<span>Login to your account</span></h4>
                      <div id="login_alertMsg"></div>
                      <!-- action="/login" -->
                      <form  method="post" id="login-form-validation">
                      <div class="form-group">
                          <input name="username" id="username" class="form-control" placeholder="Email" type="text" value="" required>
                      </div> <!-- form-group// -->
                      <div class="form-group">
                          <input class="form-control pwd" placeholder="Your Password" name="password" type="password" required>
                          <!--<a href="#" class="fa fa-eye show"></a>-->
                      </div> <!-- form-group// -->
                      <div class="form-group clearfix">
                            <!-- <label class="small">Forgot password?</label><a href="#" data-toggle="modal" data-target="#resetPopup" onclick="$('#loginPopup').modal('hide')"> Reset</a> -->
                            <!--<a href="register.html">Register Now</a>-->
                        <div class="checkbox">
                            <input type="checkbox" name="remember_me" id="remember_me"><label for="remember_me" >Remember me</label>
                        </div>
                      </div>
                      <div class="form-group text-center">
                        <button type="button" class="btn btn-block" onclick="customLogin('login-form-validation')">LOGIN</button>
                      </div>
                      <div class="text-center">
                            <p>Are you new here ? <a href="#" data-toggle="modal" onclick="showHideModal('#registerPopup','#loginPopup, #resetPopup')" >
                                <strong >Register now!</strong></a></p>
                      </div>
                          <!-- form-group// -->
                          
                      <div class="text-center"><label class="or">or</label></div>
                      <div class="form-group text-center">
                            <p>Forgot Password? 
                                <a href="#" data-toggle="modal" onclick="showHideModal('#resetPopup','#loginPopup')">
                                    <strong>Click here</strong>
                                </a> to get it back.</a></p>
                      </div>
                      <div class="row clearfix">
                          <div class="col-xs-12">
                              <div class="form-group facebook">
                                  <button type="button" class="btn btn-block" onclick="Facebooklogin()">Login with 
                                      <i class="fa fa-facebook" ></i></button>
                              </div>
                              <div class="form-group google">
                                  <button type="button" class="btn btn-block" id="googlebtn">Login with
                                   <i class="fa fa-google-plus"></i>
                                  </button>
                              </div>
                          </div>
                      </div>
                      <!-- <div class="form-group text-center clearfix mt15">
                          <label>Need an account?</label><a href="#" data-toggle="modal" data-target="#signupPopup" onclick="$('#loginPopup').modal('hide')"> Signup now</a>
                       </div> -->
                      </form>
                  </article>
              </div>
            </div>
          </div>
      
        </div>
      </div>
<div id="resetPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
    
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body" id="login">
            <div class="white-bg">
                    <!-- <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                               <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
                            </div>
                            <div class="modal-body">
                               <div id="fPassword_alert"></div>
                               <form role="form" id="passF" onkeypress="change_password();return event.keyCode != 13;">
                                  <div class="form-group col-sm-12"><label for="forgotpass">Email address</label><input type="email" id="forPass" name="forPass" class="form-control required"></div>
                                  <div class="col-sm-12"><input type="button" class="btn btn-success" value="Submit" onclick="change_password()" id="btnSave"><i id="refresh" class="fa fa-refresh fa-2 fa-spin" aria-hidden="true" style="font-size:20px;display:none"></i></div>
                               </form>
                               <div class="clearfix"></div>
                            </div> -->

                <article>
                    <h4 class="modal-title">FORGOT PASSWORD?<span>Enter your email</span></h4>
                    <form role="form" id="passF" onkeypress="change_password();return event.keyCode != 13;">
                    <div class="form-group">
                        <!-- <input name="" class="form-control"  type="email"> -->
                        <input type="email" id="forPass" placeholder="Email" name="forPass" class="form-control" required>
                    </div> <!-- form-group// -->
                    <div class="form-group text-center">
                    <button type="submit" class="btn btn-block" onclick="change_password()">reset password</button>
                    </div>
                    <div class="text-center">
                        <p>Are you new here ? <a href="#" data-toggle="modal" onclick="showHideModal('#registerPopup','#loginPopup, #resetPopup')">
                            <strong>Register now!</strong></a></p>
                    </div>
                        <!-- form-group// -->
                    <!-- <div class="form-group text-center clearfix mt15">
                        <label>Need an account?</label><a href="#" data-toggle="modal" data-target="#signupPopup" onclick="$('#loginPopup').modal('hide')"> Signup now</a>
                    </div> -->
                    </form>
                </article>
            </div>
        </div>
        </div>
    
    </div>
    </div>
<div id="registerPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
    
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body" id="login">
            <div class="white-bg">
                <article>
                    <h4 class="modal-title">WELCOME !<span>Create your account</span></h4>
                    <span class="alert alert-danger emailCheckMsg" style="display: none">Email is already exists!</span>
                    <span class="alert alert-danger confirmPasswordMsg" style="display: none">Password & confirm password doesn't match!</span>
                    <form action="/registration/save" id="registration-form-validation" method="Post">
                    <div class="form-group">
                        <input name="Name" class="form-control" placeholder="Username" type="text" required>
                    </div> <!-- form-group// -->
                    <div class="form-group">
                            <input name="Email" class="form-control email" placeholder="Email" type="email" required id="users-email">
                        </div> <!-- form-group// -->
                    <div class="form-group">
                        <input class="form-control pwd " name="Password" placeholder="Password" type="password" required id="mPassword">
                        <!--<a href="#" class="fa fa-eye show"></a>-->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input class="form-control pwd " name="confirm-password" placeholder="Confirm Password" type="password" equalto="#mPassword" required id="confirm-password">
                    </div> <!-- form-group// -->
                    <div class="form-group text-center">
                    <button type="submit" class="btn btn-block submit-button" >REGISTER</button>
                    </div>
                    <div class="text-center">
                        <p>Already member ? <a data-toggle="modal" onclick="showHideModal('#loginPopup','#registerPopup')">
                            <strong>Login now!</strong></a></p>
                    </div>
                        <!-- form-group// -->
                        
                    <div class="text-center"><label class="or">or</label></div>
                    <div class="form-group text-center">
                        <p>Forgot Password? 
                            <a href="#" data-toggle="modal" onclick="showHideModal('#resetPopup','#registerPopup')">
                                <strong >Click here</strong>
                            </a> to get it back.</a></p>
                    </div>
                    <div class="row clearfix">
                        <div class="col-xs-12">
                            <div class="form-group facebook">
                                <button type="button" onclick="Facebooklogin()" class="btn btn-block">Register with 
                                    <i class="fa fa-facebook"></i></button>
                            </div>
                            <div class="form-group google">
                                <button type="button" class="btn btn-block" id="googlebtn1">Register with
                                <i class="fa fa-google-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group text-center clearfix mt15">
                        <label>Need an account?</label><a href="#" data-toggle="modal" data-target="#signupPopup" onclick="$('#loginPopup').modal('hide')"> Signup now</a>
                    </div> -->
                    </form>
                </article>
            </div>
        </div>
        </div>
    
    </div>
    </div>

<!-- For I am interested Modal -->
<div id="iAmInterestedModal" class="modal fade" role="dialog">
        
</div> 

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>


<script type="text/javascript">
$(function() {
    $('.multiselect-ui').multiselect({
        includeSelectAllOption: true
    });
});
</script>
</body>

</html>
<script>
    var input = document.getElementById("nsu-email-0");
    input.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("enter").click();
    
        }
    });
</script>
<script>
    Googlelogin();
    rememberMe();
    <% if(typeof PropertyStatus != 'undefined') {%> 
    var PropertyStatus = <%-JSON.stringify(PropertyStatus)%>;
    <%} if(typeof propertyResult != 'undefined') {%> 
    var propertyResult = <%-JSON.stringify(propertyResult)%>;
    <%} if(typeof recommemdedIds != 'undefined') {%>

    var recommemdedIds = <%-JSON.stringify(recommemdedIds)%>;
    <%} if(typeof propertyCategory != 'undefined') {%>
    var propertyCategory = <%-JSON.stringify(propertyCategory)%> ? <%-JSON.stringify(propertyCategory)%> :[];
    <% }if(typeof cities != 'undefined') { %>
    var cities = <%-JSON.stringify(cities)%>;
    <% }if(typeof cityArea != 'undefined') { %>
    var cityArea = <%-JSON.stringify(cityArea)%> ? <%-JSON.stringify(cityArea)%> : [];
    <% }if(typeof propertyType != 'undefined') { %>
    var propertyType = <%-JSON.stringify(propertyType)%> ? <%-JSON.stringify(propertyType)%> : [];
    <% }if(typeof autocpmpleteArr != 'undefined') { %>
        autocomplete(document.getElementById("myInput"), <%-JSON.stringify(autocpmpleteArr)%>,'option');
    <% } if(typeof Amenities != 'undefined') {%>
    var Amenities = <%-JSON.stringify(Amenities)%>;
    <% } if(typeof specifications != 'undefined') { %>
      
    var specifications = <%-JSON.stringify(specifications)%>;
    <% } %>


  if(typeof cityArea != 'undefined'){
        var checkCity = cities.map(function(item){
            if(item.Name.toUpperCase() == getCookie('byInCity').toUpperCase()){
                return item.ID;
            }
        });
        
        var area = [];
        for (var i = 0; i < cityArea.length; i++) {
            if ($.inArray(cityArea[i].CityID, checkCity) > -1 || getCookie('byInCity') == 'All') {
                area.push(cityArea[i]);
            }
        }
        if($('#myInput').length == 1){
           
            autocomplete(document.getElementById("myInput"),area ,'Area');
        }
    }  



    formValidation('login-form-validation');
    formValidation('passF');
    formValidation('SubscribeUserForm'); 
    formValidation('registration-form-validation');
/*     function Validate(){
        var password = document.getElementById('Password').value();
        var confirm_password = document.getElementById('confirm-Password').value();
        if(password != confirm_password){
         
            return false;
        }
    } */

    
    
</script>
